@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;700&family=Roboto:wght@400;500&display=swap");
body {
  overflow-x: hidden;
}

.container {
  max-width: 1650px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: #10100d;
  padding-bottom: 92px;
}

.header img {
  margin-right: 60px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  margin-right: auto;
}

.header__logo {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 45px;
  color: #fff;
}

.header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-link {
  margin-right: 20px !important;
  display: block;
  margin: 0 auto;
  background: #fff;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  height: 60px;
  width: 60px;
}

.header__nav-link:last-child {
  margin-right: 0;
}

.header__subtitle {
  margin-top: -55px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 100;
}

.span-main-color {
  color: #F1875E;
}

#header__right-social1 {
  margin: 21px 15px;
  display: block;
}

#header__right-social2 {
  margin: 17px 16px;
  display: block;
}

.header__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
}

.header__text-title {
  margin-top: -15px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 86px;
  line-height: 86px;
}

.header__text-subtitle {
  text-transform: uppercase;
  margin-top: -50px;
  font-weight: 200;
  font-size: 36px;
  font-family: "Montserrat";
  color: #fff;
}

.header__text-right {
  -webkit-animation: bounce 2.3s linear infinite;
  animation: bounce 2.3s linear infinite;
}

body::-webkit-scrollbar {
  width: 16px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #F1875E;
}

@-webkit-keyframes bounce {
  25% {
    -webkit-transform: translateY(-10px);
  }
  50%, 100% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
  }
}

@keyframes bounce {
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.choose {
  padding-top: 120px;
  padding-bottom: 120px;
}

.choose__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #3A3A3A;
}

#type_adj {
  color: #F1875E;
}

.typed-cursor {
  font-weight: 400;
  margin-left: -5px;
}

.skills {
  margin-top: 15px;
  padding-bottom: 85px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__tech, .skills__soft {
  width: 41%;
}

.skills__barfiller {
  border-radius: 5px;
  width: 100%;
  height: 12px;
  background: #555555;
  border: 1px solid #3A3A3A;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

.skills__barfiller .skills__fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #3A3A3A;
  z-index: 1;
  border-radius: 5px;
}

.skills__tech-name {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__title {
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 37px;
  line-height: 37px;
  color: #3A3A3A;
}

.skills__tech-subtitle, .skills__tech-percent, .skills__soft-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #3A3A3A;
}

.skills__soft-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__soft-row:last-child {
  margin-top: 30px;
}

.skills__soft-name {
  margin-top: 30px;
  text-align: center;
}

.skills__progressbar {
  --percentage: (--value);
  --primary: #F1875E;
  --secondary: #3A3A3A;
  --size: 155px;
  margin: 0 auto;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.skills__progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  -webkit-mask: radial-gradient(white 55%, transparent 0);
          mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

.skills__progressbar::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: "Montserrat";
  font-weight: 400;
  font-size: calc(var(--size) / 5);
  color: var(--secondary);
}

@-webkit-keyframes soft-progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@keyframes soft-progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@-webkit-keyframes tech-progress {
  0% {
    width: 0;
  }
  100% {
    width: var(--value);
  }
}

@keyframes tech-progress {
  0% {
    width: 0;
  }
  100% {
    width: var(--value);
  }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #10100d;
}

.about__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__right {
  width: 55%;
  display: block;
}

.about__right-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  color: #FFFFFF;
}

.about__right-subtitle {
  text-align: center;
  margin-top: 5px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 35px;
  color: #fff;
}

.about__image {
  width: 90%;
}

.about__left {
  width: 45%;
  -webkit-animation: bounce 2.3s linear infinite;
  animation: bounce 2.3s linear infinite;
}

.about__right-text {
  margin-left: 55px;
  margin-top: 30px;
  line-height: 35px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}

.works {
  padding-top: 120px;
  padding-bottom: 120px;
}

.works__row {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__row:first-child {
  margin-top: 100px;
}

.works__col img {
  max-width: 100%;
  border-radius: 10px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-box-shadow: 3px 2px 10px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 2px 10px 6px rgba(34, 60, 80, 0.2);
}

.works__col img:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.works__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #3A3A3A;
}

.footer {
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  background-color: #10100d;
}

.preloader__container {
  width: 100%;
  height: 100vh;
  z-index: 99999;
  text-align: center;
  background-color: #10100d;
  position: fixed;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.loaded .preloader__container {
  opacity: 0;
}

.preloader {
  margin: auto;
  border: 2px solid #10100d;
  width: 80px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 45%;
  border-radius: 50%;
  border-right: 2px solid #F1875E;
  text-align: center;
  -webkit-animation-name: preloader-spin;
          animation-name: preloader-spin;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
          animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}

@-webkit-keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1170px;
  }
  .header {
    padding-bottom: 65px;
  }
  .header__top {
    padding-top: 35px;
  }
  .header__logo {
    font-size: 35px;
  }
  .header__text-title {
    margin-top: -3px;
    font-size: 72px;
    line-height: 72px;
  }
  .header__text-subtitle {
    font-size: 30px;
    margin-top: -45px;
  }
  .header__text-right img {
    margin-left: auto;
    display: block;
    width: 70%;
  }
  .choose__title, .works__title {
    font-size: 60px;
    line-height: 60px;
  }
  .skills__title {
    font-size: 27px;
    line-height: 27px;
  }
  .skills__tech-subtitle, .skills__tech-percent, .skills__soft-name {
    font-size: 20px;
    line-height: 20px;
  }
  .skills__progressbar:after {
    font-size: calc(var(--size) / 6);
  }
  .skills__progressbar {
    --size: 130px;
  }
  .about__right-title {
    font-size: 32px;
    line-height: 32px;
  }
  .about__right-subtitle {
    font-size: 27px;
    line-height: 27px;
  }
  .about__right-text {
    font-size: 18px;
    line-height: 18px;
  }
  .footer__text {
    font-size: 25px;
  }
  .works__col img {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__text-title {
    font-size: 57px;
    line-height: 57px;
  }
  .header__text-subtitle {
    font-size: 24px;
    margin-top: -35px;
  }
  .header__text-right img {
    margin-left: auto;
    display: block;
    width: 70%;
  }
  .choose__title, .works__title {
    font-size: 60px;
    line-height: 60px;
  }
  .skills__title {
    font-size: 24px;
    line-height: 24px;
  }
  .skills__tech-subtitle, .skills__tech-percent, .skills__soft-name {
    font-size: 17px;
    line-height: 17px;
  }
  .skills__progressbar:after {
    font-size: calc(var(--size) / 5);
  }
  .skills__progressbar {
    --size: 120px;
  }
  .about__right-title {
    font-size: 32px;
    line-height: 32px;
  }
  .about__right-subtitle {
    font-size: 27px;
    line-height: 27px;
  }
  .about__right-text {
    font-size: 18px;
    line-height: 18px;
  }
  .footer__text {
    font-size: 25px;
  }
  .works__col img {
    width: 95%;
  }
  .header__text-right img {
    width: 65%;
  }
}

@media only screen and (max-width: 992px) {
  .header__text-right img {
    width: 55% !important;
  }
  .container {
    max-width: 770px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__text-title {
    font-size: 45px;
    line-height: 45px;
  }
  .header__text-subtitle {
    font-size: 20px;
    margin-top: -20px;
  }
  .header__text-right img {
    margin-left: auto;
    display: block;
    width: 70%;
  }
  .choose__title, .works__title {
    font-size: 50px;
    line-height: 50px;
  }
  .skills__title {
    font-size: 24px;
    line-height: 24px;
  }
  .skills__tech-subtitle, .skills__tech-percent, .skills__soft-name {
    font-size: 17px;
    line-height: 17px;
  }
  .skills__progressbar:after {
    font-size: calc(var(--size) / 5);
  }
  .skills__progressbar {
    --size: 120px;
  }
  .about__right-title {
    font-size: 32px;
    line-height: 32px;
  }
  .about__right-subtitle {
    font-size: 25px;
    line-height: 27px;
  }
  .about__right-text {
    font-size: 18px;
    line-height: 18px;
  }
  .footer__text {
    font-size: 25px;
  }
  .works__col img {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .header__text-right img {
    margin: 70px auto;
    display: block;
    width: 75% !important;
  }
  .header__text {
    margin-top: 100px;
  }
  .header__top {
    text-align: center;
  }
  .header__logo {
    font-size: 24px !important;
  }
  .header__nav-link {
    height: 40px;
    width: 40px;
  }
  #header__right-social1 {
    margin: 12px 6px;
  }
  #header__right-social2 {
    margin: 7px 7px;
  }
  .container {
    max-width: 400px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__text {
    display: block;
  }
  .header__text-title {
    text-align: center;
    font-size: 55px;
    line-height: 55px;
  }
  .header__text-subtitle {
    text-align: center;
    font-size: 25px;
    margin-top: -20px;
  }
  .header__text-right img {
    margin-left: auto;
    display: block;
    width: 70%;
  }
  .choose__title, .works__title {
    font-size: 49px;
    line-height: 52px;
  }
  .choose {
    padding-bottom: 100px;
  }
  .skills__inner {
    display: block;
  }
  .skills__tech, .skills__soft {
    width: 100%;
  }
  .skills__title {
    font-size: 43px;
    text-align: center;
    line-height: 43px;
  }
  .skills__tech-subtitle, .skills__tech-percent, .skills__soft-name {
    font-size: 20px;
    line-height: 20px;
  }
  .skills__soft {
    margin-top: 90px;
  }
  .about__inner {
    display: block;
  }
  .about__left {
    width: 120%;
    display: block;
    margin: 0 auto;
  }
  .about__right {
    display: block;
    width: 100%;
    margin-top: 75px;
  }
  .about__right-text {
    display: block;
    text-align: center;
    margin: 20px auto;
  }
  .about__right-subtitle {
    font-size: 23px !important;
  }
  .skills__progressbar:after {
    font-size: calc(var(--size) / 5);
  }
  .skills__progressbar {
    --size: 120px;
  }
  .about__right-title {
    font-size: 32px;
    line-height: 32px;
  }
  .about__right-subtitle {
    font-size: 25px;
    line-height: 27px;
  }
  .about__right-text {
    font-size: 18px;
    line-height: 18px;
  }
  .footer__text {
    font-size: 25px;
  }
  .works__col img {
    width: 95%;
  }
  .works__row {
    margin: 0 auto;
    display: block;
  }
  .works__col img {
    margin-top: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 535px) {
  .header__text-right img {
    margin: 70px auto;
    display: block;
    width: 75% !important;
  }
  .header__text {
    margin-top: 100px;
  }
  .header__top {
    text-align: center;
  }
  .header__logo {
    font-size: 15px !important;
  }
  .header__nav-link {
    margin-right: 10px !important;
    height: 30px;
    width: 30px;
  }
  #header__right-social1 {
    margin: 9px 3px;
    width: 75%;
  }
  #header__right-social2 {
    margin: 4px 2px;
    width: 75%;
  }
  .container {
    max-width: 200px;
  }
  .header__logo {
    font-size: 15px;
  }
  .header__text {
    display: block;
  }
  .header__text-title {
    text-align: center;
    font-size: 31px;
    line-height: 32px;
  }
  .header__text-subtitle {
    text-align: center;
    font-size: 13px;
    margin-top: -18px;
  }
  .header__text-right img {
    margin-left: auto;
    display: block;
    width: 85% !important;
  }
  .choose__title, .works__title {
    font-size: 28px;
    line-height: 26px;
  }
  .choose {
    padding-bottom: 100px;
  }
  .skills__inner {
    display: block;
  }
  .skills__tech, .skills__soft {
    width: 100%;
  }
  .skills__title {
    font-size: 22px;
    text-align: center;
    line-height: 21px;
  }
  .skills__tech-subtitle, .skills__tech-percent, .skills__soft-name {
    font-size: 14px !important;
    line-height: 14px !important;
  }
  .skills__soft {
    margin-top: 90px;
  }
  .about__inner {
    display: block;
  }
  .about__left {
    width: 120%;
    display: block;
    margin: 0 auto;
  }
  .about__right {
    display: block;
    width: 100%;
    margin-top: 75px;
  }
  .about__right-text {
    display: block;
    text-align: center;
    margin: 20px auto;
  }
  .about__right-subtitle {
    font-size: 15px !important;
  }
  .skills__progressbar:after {
    font-size: calc(var(--size) / 5);
  }
  .skills__progressbar {
    --size: 100px;
  }
  .about__right-title {
    font-size: 24px;
    line-height: 24px;
  }
  .about__right-subtitle {
    font-size: 17px;
    line-height: 17px;
  }
  .about__right-text {
    font-size: 12px;
    line-height: 12px;
  }
  .footer__text {
    font-size: 23px;
  }
  .works__col img {
    width: 100%;
  }
  .works__row {
    margin: 0 auto;
    display: block;
  }
  .works__col img {
    margin-top: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */